/EasyLocalize.xcodeproj/xcuserdata/sebastian.xcuserdatad/xcschemes/xcschememanagement.plist

/EasyLocalize.xcodeproj/xcuserdata/sebastian.xcuserdatad/xcschemes/EasyLocalize.xcscheme
/EasyLocalize.xcodeproj/xcuserdata/sebastian.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/EasyLocalize.xcodeproj/project.xcworkspace/xcuserdata/sebastian.xcuserdatad/WorkspaceSettings.xcsettings
/EasyLocalize.xcodeproj/project.xcworkspace/xcuserdata/sebastian.xcuserdatad/UserInterfaceState.xcuserstate
/EasyLocalize.xcodeproj/project.xcworkspace/contents.xcworkspacedata

/Translations/
